
.current {
  color: $accent-color;
  &::after {
    position: absolute;
    content: "";
    display: inline-block;
    width: 100%;
    height: 4px;
    background-color: $accent-color;
    bottom: -1.5%;
    left: 0;
  }
}
