.benefits__list {
  flex-basis: 270px;
  margin-right: auto;
  margin-left: auto;
  position: relative;
  text-align: center;
  width: 289px;
  padding-bottom: 60px;
  &::before {
    content: "";
    display: flex;
    height: 120px;
    margin-bottom: 30px;
    background-size: 70px 70px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: $team-color;
    border-radius: 4px;
  }

  @include mobile {
    width: 450px;
  }
  @include tablet {
    width: 354px;
    display: inline-block;
    text-align: left;
    &:nth-child(2n + 1) {
      margin-right: 30px;

    }
  }

  &:nth-child(1)::before {
    background-image: url("/images/antenna.svg");
  }

  &:nth-child(2)::before {
    background-image: url("/images/clock.svg");
  }

  &:nth-child(3)::before {
    background-image: url("/images/diagram.svg");
  }

  &:nth-child(4)::before {
    background-image: url("/images/astronaut.svg");
  }
}

.benefits__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.benefits__text {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: $text-color;
}

.flex {
}
