.section-main {
  padding-bottom: 94px;

  display: none;

@include desktop{
  display: flex;
  //padding-top: 94px;
}}
.metier {
  margin-top: 50px;

  @include desktop{
    display: flex;
    margin-top: 0;
  }
}
.metier__list {
  margin-right: 30px;
  position: relative;
}
.metier__item {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  background: rgba(47, 48, 58, 0.8);
  justify-content: center;
  width: 370px;
  height: 70px;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: center;
  color: $light-color;
  flex-direction: column;
}